// это еще чо за рыба

@import '__common.scss';

@import '__fonts.scss';

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
